/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav {
    width: 100%;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    padding: 0;
}

nav ul li {
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

nav ul .sous {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul li:hover .sous {
    display: block;
}

.sous li {
    width: 200px;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    background: rgba(200, 200, 200, 0.1);
}

.deroulant > a::after {
    content: " ▼";
    font-size: 12px;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
